/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* animation sequence */
@keyframes slide {
  from {top: -50px;}
  to {top: 0;}
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
  top: 0;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  animation-name: slide;
  animation-duration: 1s;
}

.p1 {
  background-color: orangered;
}

.p2 {
  background-color: purple;
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
